body{
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #C3CAFF;
  overflow: hidden;
}

#barre-sup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #4956BC;
  border: black solid 2px;
}

h1{
  color: white;
  font-family: impact, fantasy;
  font-size: 120px;
  -webkit-text-stroke: 1px #C3CAFF;
  text-shadow: 0px 10px 10px black;
}

#start_button{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 160px 0px 160px 0px
}

#init-button{
  width: 400px;
  border: #4956BC solid 10px;
  border-radius: 100px;
  background-color: white;
  font-family: impact, fantasy;
  font-size: 75px;
  color: #4956BC;
}

.section_tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 640px;
  margin: auto;
}

.tile{
  width: 17%;
  aspect-ratio: 1;
  margin: 2%;
}

.red {
  background-color: red
}

.blue {
  background-color: #00f
}

.green {
  background-color: #0f0
}

.yellow {
  background-color: #ff0
}

.orange {
  background-color: #f90
}

.purple {
  background-color: #90f
}

.pink {
  background-color: #f5f
}

.brown {
  background-color: brown
}

.cachee {
  background-color: #4956BC;
}

.orga_lastpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 70px;
  height: 350px;
}

.anim_class {
  color: #4956BC;
  display: flex;
  justify-content: center;
  font-family: impact, fantasy;
  font-size: 80px;
  -webkit-text-stroke: 1px white;
  position: relative;
  animation: MyDiv 800ms 100 ease alternate;
  margin: 0;
  }
  
  @keyframes MyDiv {
    0%   {left: -100px; top: 0px;}
    100%  {left: 100px; top: 0px;}
  }

.btn_reco_class{
  border: #4956BC solid 5px;
  border-radius: 100px;
  background-color: white;
  font-family: impact, fantasy;
  font-size: 30px;
  color: #4956BC;
}

.cptpartie_class{
  color: #4956BC
}

.cpt_class{
  color: #4956BC
}

.horlorge{
  margin: 0;
  color: #4956BC
}

.orga_lastpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 500px;
}