body{
  margin: 0px;
  height: 100%;
}

#barre-sup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(217,217,218,255);
  border: black solid 2px;
}

#start_button{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 160px 0px 160px 0px
}

#init-button{
  width: 400px;
  border: black solid 1px;
  border-radius: 100px;
}

.section_tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 640px;
  margin: auto;
}

.tile{
  width: 17%;
  aspect-ratio: 1;
  margin: 2%;
}