body{
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #C3CAFF;
}

#barre-sup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #4956BC;
  border: black solid 2px;
}

h1{
  color: white;
  font-family: impact, fantasy;
  font-size: 120px;
}

#start_button{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 160px 0px 160px 0px
}

#init-button{
  width: 400px;
  border: #4956BC solid 10px;
  border-radius: 100px;
  background-color: white;
  font-family: impact, fantasy;
  font-size: 75px;
  color: #4956BC;
}

.section_tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 640px;
  margin: auto;
}

.tile{
  width: 17%;
  aspect-ratio: 1;
  margin: 2%;
}

.red {
  background-color: red
}

.blue {
  background-color: #00f
}

.green {
  background-color: #0f0
}

.yellow {
  background-color: #ff0
}

.orange {
  background-color: #f90
}

.purple {
  background-color: #90f
}

.pink {
  background-color: #f5f
}

.brown {
  background-color: brown
}

.cachee {
  background-color: lightgrey;
}

#btn_reco_class {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 160px 0px 160px 0px
}